#dashboard {
  // display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background: white;
  padding: 25px 20px 45px 20px;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar:horizontal {
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #EFEFEF;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #A8A8A8;
    // background: #e3e3e3;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);
  }
  .drag-btn {
    font-size: $fontver6;
    color: white;
    border-radius: 5px;
    height: 22px;
    font-family: $kanit;
    min-width: 65px;
    &.close {
      background: #9d9d9d;
    }
    &.save {
      padding: 3px 8px;
      background: #66bb6a;
    }
  }

  .details {
    display: block;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 20px;
    // overflow-x: hidden;
    // overflow-y: auto;
    // height: calc(100% - 100px);
    // height: calc(100% - 10px);

    // &::-webkit-scrollbar {
    //   width: 8px;
    // }
    // &::-webkit-scrollbar:horizontal {
    //   height: 8px;
    // }
    // &::-webkit-scrollbar-track {
    //   background: transparent;
    // }
    // &::-webkit-scrollbar-thumb {
    //   border-radius: 10px;
    //   background: #e3e3e3;
    // }
    // &::-webkit-scrollbar-thumb:hover {
    //   background: rgb(145, 145, 145);
    // }
  }
  .body-round {
    // padding-top: 20px;
    // padding-left: 25px;
    // padding-right: 25px;
  }
  .name-page {
    color: #797979;
    font-size: $fontver2;
    font-family: $lato;
    font-weight: 900;
  }
  .line-page {
    height: 1px;
    width: 100%;
    background: #a8a8a8;
    margin-bottom: 7px;
    margin-top: 15px;
    opacity: 0.5;
  }
  .icon-line {
    padding-right: 25px;
    display: flex;
    .sort {
      cursor: pointer;
    }
  }

  .v-card {
    width: 240px;
    height: 240px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #00000029;
    margin-bottom: 3%;

    .v-card__text {
      font-size: $fontver6;
      color: #414141;
      font-family: $kanit;
      font-weight: 400;
      padding: 9px 10px 0px 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      overflow: hidden;
    }
    .v-responsive__content {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .sys-text {
        width: 100%;
        background: #00000099;
        box-shadow: 6px 6px 6px #00000029;
        // border: 1px solid #00000099;
        text-align: center;
        height: 40px;
        padding-top: 2px;
        font-family: $roboto;
        .sys-name {
          font-size: $fontver3;
          color: white;
        }
        .sys-type {
          padding-top: 1px;
          font-size: $fontver5;
          color: #a8a8a8;
        }
      }
    }
    .v-card__actions {
      padding: 0px 15px 0px 8px;
      button {
        font-size: $fontver6;
        background: $dark_red;
        width: 65px;
        height: 22px;
        border-radius: 5px;
        color: white;
        font-family: $kanit;
        font-weight: 400;
      }
    }
  }
}
