#login,
#maintenance {
  width: 100vw;
  height: 100vh;
  // opacity: 0.07;
  // background: $white-smoke2;
  // background: transparent url("@/assets/icons/background-logo.png");
  // background: url("@/assets/icons/background-logo.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-box {
  width: 333px;
  width: 431px;
  height: 520px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px $red;

  .part-top {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      width: 102px;
      height: 120px;
    }

    .system-name {
      font-size: nth($font-sizes, 8);
      font-weight: bold;
      font-family: Georgia;
      color: #000000;
      margin-top: 2px;
    }
  }
  .part-bottom {
    margin-top: 15px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // padding: 30px;
    padding: 0px 30px 30px 30px;
    box-sizing: border-box;
  }

  input[type="text"],
  [type="password"] {
    width: 200px;
    height: 36px;
    background: #ffffff;
    // border: 0.5px solid #707070a6;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    font-size: 13px;
    letter-spacing: 0px;
    color: #11111169;
    line-height: 1.4;
    // padding-top: 10px;
    padding: 8px;
    &:hover,
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #11111169;
    }
  }
  .input-with-icon {
    // width: 222px;
    margin-top: 18px;
    // position: relative;
    // border: 0.5px solid #707070a6;
    // border-radius: 4px;
    display: flex;
    .eye,
    .account {
      color: #3a3a3a91;
      cursor: pointer;
      width: 22px;
      height: 20px;
      top: 11px;
      right: 5px;
      position: absolute;
      &.eye-hided {
        right: 5px;
        color: #3a3a3a91;
        width: 22px;
        height: 22px;
        top: 11px;
      }
    }
    .account {
      height: 18px;
      top: 8px;
    }
    // &.active {
    //   border: 0.5px solid $red;
    // }
  }
  .checkbox-custom {
    margin-top: 14px;
    width: 222px;
    // align-self: flex-start;
    display: flex;
    align-items: center;
    // width: 25px;
    // margin: 20px 100px;
    position: relative;
    input {
      opacity: 0;
      display: none;
    }
    label {
      cursor: pointer;
      position: absolute;
      width: 11px;
      height: 11px;
      top: 0;
      left: 0;
      background: white;
      color: $dim_grey;
      border: 1px solid #bbbbbb;
      .text {
        padding-left: 20px;
        width: 150px;
        font-size: nth($font-sizes, 2);
        margin-top: -2px;
      }
      &:after {
        opacity: 0;
        content: "";
        position: absolute;
        width: 6px;
        height: 5px;
        background: transparent;
        top: 1.5px;
        left: 1.5px;
        border: 1.5px solid #333;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
      }
    }
    input[type="checkbox"]:checked + label:after {
      opacity: 1;
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    width: 200px;
    height: 25px;
    background: $red;
    color: white;
    font-size: nth($font-sizes, 1);
    text-align: center;
    font-weight: bold;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      // background: $summer_sky2;
    }
    &:focus {
      // background: $summer_sky;
      outline: none;
    }
  }

  .login-error {
    // width: 100%;
    margin-top: 0px;
    color: $red;
    opacity: 0;
    font-size: nth($font-sizes, 1);
    &.active {
      opacity: 1;
    }
  }

  .creater {
    color: #414141;
    font-size: nth($font-sizes, 1);
    margin-top: 35px;
  }

  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }

  .radio-group {
    // width: 80%;
    .v-input--radio-group__input {
      flex-direction: inherit;
    }
    .v-messages {
      display: none;
    }
    .n-body {
      // width: 100%;
      padding: 3px 10px 3px 18px;
      display: flex;
      .v-input--selection-controls__input {
        .v-icon {
          font-size: nth($font-sizes, 6) !important;
        }
        .primary--text,
        .accent--text {
          color: #000000 !important;
          caret-color: #000000 !important;
        }
      }

      .n-body_desc {
        color: #414141;
        margin-left: 8px;
        width: 80%;
        font-size: nth($font-sizes, 1);
        padding-top: 5px;
      }
      .n-body_icon {
        width: 10%;
        v-icon {
          color: #000000;
          font-weight: bold;
        }
      }
    }
  }
}
