#setting-page {
  display: flex;
  width: 100%;
  height: calc(100% - 0px);
  .left {
    width: 20%;
    height: 100%;
    padding: 20px 0px 20px 0px;
    .header {
      padding-left: 20px;
      font-size: nth($font-sizes, 5);
      font-weight: bold;
      color: #797979;
      border-bottom: 1px solid #d1d1d1;
      padding-bottom: 6px;
    }
    .list {
      .list-row {
        cursor: pointer;
        color: #797979;
        font-size: nth($font-sizes, 3);
        padding: 20px 25px 15px 20px;
        &.active {
          color: #ffff;
          background: #ed202499;
        }
      }
    }
  }
  .right {
    width: 80%;
    padding: 20px 25px 25px 20px;
    background: #f4f6f980;
    .header {
      color: #797979;
      font-size: nth($font-sizes, 5);
      font-weight: map-get($font-weight, "regular");
      padding-bottom: 10px;
    }
    .v-card {
      border: 1px solid #d1d1d1;
      border-radius: 8px;
      height: calc(100% - 25px);
      .tab {
        width: 100%;
        padding: 15px 20px 15px 20px;
        display: flex;
        .tab-row {
          padding-bottom: 7px;
          margin-right: 15px;
          color: #797979;
          font-size: nth($font-sizes, 4);
          font-weight: map-get($font-weight, "regular");
          cursor: pointer;
          .line-active {
            margin-top: 1px;
            width: 100%;
            height: 2px;
            background: #ed2024;
            box-shadow: 0px 3px 6px #ed2024;
          }
        }
      }
      .table {
        height: 100%;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        .head-table {
          width: 100%;
          display: flex;
          background: #d1d1d133;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 20px;
          padding-right: 20px;
          .head {
            display: flex;
            cursor: pointer;
            font-weight: 500;
            color: #797979;
            font-size: nth($font-sizes, 2);
            .column-name {
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              // padding-top: 3px;
            }
          }
        }
        .body-table {
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 20px;
          padding-right: 20px;
          .body-row {
            width: 100%;
            display: flex;
            padding-top: 3px;
            padding-bottom: 8px;
            .body {
              padding-right: 5px;
              color: #797979;
              font-size: nth($font-sizes, 2);
            }
          }
          overflow-x: hidden;
          overflow-y: auto;
          height: calc(100% - 160px);
          &::-webkit-scrollbar {
            width: 6px;
          }
          &::-webkit-scrollbar:horizontal {
            height: 8px;
          }
          &::-webkit-scrollbar-track {
            background: #efefef;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background: #a8a8a8;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: rgb(145, 145, 145);
          }
        }
      }
      .input-with-icon {
        box-shadow: 0px 0px 3px #00000080;
        border-radius: 4px;
        input[type="text"],
        [type="password"] {
          height: 25px;
          padding-right: 10px;
          // height: 30px;
          // width: 300px;
          width: 100%;
          &:hover,
          &:focus {
            outline: none;
          }
          &::placeholder {
            color: #11111169;
            font-size: nth($font-sizes, 2);
            // font-size: nth($font-sizes, 4);
          }
        }
      }
      .detail-add {
        padding-top: 3px;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100% - 0px);
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar:horizontal {
          height: 8px;
        }
        &::-webkit-scrollbar-track {
          background: #efefef;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 8px;
          background: #a8a8a8;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: rgb(145, 145, 145);
        }
        .rows {
          display: flex;
          width: 100%;
          padding-bottom: 10px;
          .rows-name {
            display: flex;
            align-items: center;
            color: #11111169;
            font-size: nth($font-sizes, 2);
          }
          .rows-input {
            .input-with-icon {
              border: none;
              input[type="text"],
              [type="password"] {
                padding-left: 8px;
              }
              textarea {
                width: 100%;
                height: 80px;
                padding-top: 5px;
                padding-left: 8px;
                // resize: none;
                &:hover,
                &:focus {
                  outline: none;
                }
                &::placeholder {
                  font-size: nth($font-sizes, 2);
                  color: #11111169;
                }
              }
              .v-text-field {
                padding: 0px;
                margin: 0px;
                height: 25px;
                .v-input__append-inner {
                  margin-top: 0px;
                }
              }
              .v-select__selections {
                height: 25px;
              }
              .v-select__selection--comma {
                padding-left: 8px;
                font-size: nth($font-sizes, 2);
              }
              .v-text-field > .v-input__control > .v-input__slot:before {
                width: 0%;
              }
              .v-text-field > .v-input__control > .v-input__slot:after {
                width: 0%;
              }
            }
            .v-input--radio-group {
              padding: 0px;
              margin: 0px;
              .radio {
                display: flex;
                color: #414141;
                font-size: nth($font-sizes, 2);
                font-weight: map-get($font-weight, "regular");
                margin-right: 76px;
                .radio-texten {
                  padding-top: 4px;
                }
                .radio-textth {
                  padding-top: 2px;
                }
              }
              .v-messages {
                display: none;
              }
              .v-input__slot {
                margin: 0px;
              }
            }
            .v-input--radio-group--column .v-input--radio-group__input {
              flex-direction: inherit;
            }
            .pic-upload,
            .pic-upload-success {
              height: 180px;
              width: 240px;
            }
            .pic-upload {
              background: #d1d1d1;
              border: 1px solid #a8a8a8;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #797979;
            }
          }
        }
      }
    }
    .ok-btn {
      background: #ffffff;
      color: $dark_red;
      border: 1px solid $dark_red;
    }
    .cancel-btn {
      color: white;
      background: $dark_red;
      border: 1px solid $dark_red;
    }
    .clear-btn {
      color: white;
      background: #797979;
    }
    .ok-btn,
    .cancel-btn,
    .clear-btn {
      font-size: nth($font-sizes, 3);
      font-weight: map-get($font-weight, "regular");
      width: 106px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      // &.disabled {
      //   border: 1px solid #a8a8a8;
      //   background: #ce1212;
      //   color: white;
      //   opacity: 0.51;
      // }
    }
    .theme--light.v-btn.v-btn--disabled {
      font-size: nth($font-sizes, 3);
      font-weight: map-get($font-weight, "regular");
      opacity: 0.51;
    }
    .theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
      background: #ce1212 !important;
    }
    .theme--light.v-btn.v-btn--disabled {
      color: white !important;
    }

    #user-list {
      .v-card {
        .input-with-icon {
          input[type="text"],
          [type="password"] {
            width: 100%;
            font-size: nth($font-sizes, 2);
          }
        }
        .v-input--checkbox {
          margin: 0px;
        }
        .v-text-field--outlined.v-input--dense.v-text-field--single-line
          > .v-input__control
          > .v-input__slot {
          min-height: 25px;
          padding-left: 2px;
        }
        .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
          > .v-input__control
          > .v-input__slot {
          box-shadow: 0px 0px 3px #00000080;
        }
      }
    }
  }
}
