.header-main {
  background: $red;
  width: 1920px;
  height: 81px;
  color: white;
  padding: 12px 30px 10px 30px;
  top: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  .sys-name {
    padding-left: 11px;
    padding-top: 15px;
    font-family: Georgia;
    font-size: 20px;
    font-weight: bold;
  }
  .right-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    .account-name {
      font-family: $kanit;
    }
    .deafult-name {
      text-align: center;
      padding-top: 10px;
      background: #810000;
      color: white;
      font-family: Georgia;
      font-size: 17px;
      width: 43px;
      height: 42px;
      border-radius: 50%;
      border: 1px solid #ffffff;
    }
  }
}
.body-main {
  height: calc(100% - 100px);
  top: 81px;
  left: 0px;
  position: fixed;
  background: white;
}
.footer-main {
  color: white;
  background: $red;
  font-size: 14px;
  text-align: left;
  width: 1920px;
  height: 41px;
  padding: 12px 10px 10px 45px;
  font-family: $roboto;
  bottom: 0px;
  left: 0px;
  position: fixed;
}
.header-main,
.body-main,
.footer-main {
  width: 100%;
}
#account-menu {
  right: 0px;
  top: 80px;
}
#account-menu-body {
  width: 410px;
  border-radius: 6px;
  box-shadow: 0px 19px 38px #0000007f;
  border: 1px solid #95989a;
  .logo-line {
    padding-top: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .deafult-name {
    text-align: center;
    padding-top: 25px;
    background: #810000;
    color: white;
    font-family: Georgia;
    font-size: 48px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ffffff;
  }
  .account {
    padding: 20px 38px 5px 38px;
    .account-name,
    .position-name {
      text-align: center;
      font-family: $kanit;
    }
    .account-name {
      color: #414141;
      font-size: 18px;
    }
    .position-name {
      padding-top: 5px;
      color: #727272;
      font-size: 14px;
    }
  }
  .account-chip {
    font-size: 14px;
    font-family: $kanit;
    color: $dark_red;
    background: white;
    border: 1px solid $dark_red;
    justify-content: center;
    // color: white;
    // background: $red;
  }
  .line-page {
    height: 1px;
    width: 100%;
    background: #a8a8a8;
    opacity: 0.5;
  }
  .account-button {
    font-family: $kanit;
    border-radius: 5px;
    padding: 20px 35px 20px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    button {
      height: 32px;
    }
    .ok-btn {
      background: #ffffff;
      color: $dark_red;
      border: 1px solid $dark_red;
    }
    .cancel-btn {
      color: white;
      background: $dark_red;
      border: 1px solid $dark_red;
    }
  }
}
.input-with-icon {
  width: 222px;
  position: relative;
  border: 0.5px solid #707070a6;
  border-radius: 4px;
  &.active {
    border: 0.5px solid $red;
  }
}
#change-pic-dialogs {
  padding: 25px;
  .profile-desc {
    width: 100%;
    color: #797979;
    font-size: 24px;
    font-family: kanit;
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
  }
  .deafult-name {
    text-align: center;
    padding-top: 105px;
    background: #810000;
    color: white;
    font-family: Georgia;
    font-size: 48px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 1px solid #ffffff;
  }
  .v-card__actions {
    display: flex;
    margin-top: 50px;
    margin-bottom: 60px;
  }
}
#change-pwd-dialogs {
  padding: 90px 70px 70px 70px;
  .input-with-icon {
    margin-left: 55px;
    padding: 7px 8px 5px 8px;
    box-shadow: 0px 0px 3px #00000080;
    border-radius: 4px;
    border: hidden;

    input[type="password"] {
      width: 330px;
      &:hover,
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #11111169;
      }
    }
    &.active {
      border: 0.5px solid $red;
      box-shadow: none;
    }
  }
}
#change-pic-dialogs,
#change-pwd-dialogs,
#detail-dashboard-dialogs {
  .cancel-btn,
  .ok-btn {
    font-size: 14px;
    font-family: $kanit;
    padding: 10px 55px 10px 55px;
    button {
      height: 32px;
    }
    &.v-btn--disabled {
      background: #ce121280;
      border: 1px solid #a8a8a8;
      .v-btn__content {
        color: white;
      }
    }
  }
  .cancel-btn {
    color: white;
    background: $dark_red;
    border: 1px solid $dark_red;
    border-radius: 5px;
  }
  .ok-btn {
    background: #ffffff;
    color: $dark_red;
    border: 1px solid $dark_red;
  }
}
#detail-dashboard-dialogs {
  .sys-name {
    color: $dark_red;
    font-size: 24px;
    font-weight: bold;
    font-family: $roboto;
    text-align: center;
    padding-top: 20px;
  }
  .details {
    color: #767676;
    font-size: 14px;
    font-family: $kanit;
    padding-top: 18px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 150px;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar:horizontal {
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #e3e3e3;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(145, 145, 145);
    }
  }
}
