.header-main {
  background: $red;
  width: 100%;
  // height: 81px;
  color: white;
  padding: 7px 30px 6px 20px;
  top: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  .sys-name {
    padding-left: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
    font-size: nth($font-sizes, 6);
    font-weight: bold;
  }
  .right-header {
    display: flex;
    align-items: center;
    font-size: nth($font-sizes, 3);

    .deafult-name {
      text-align: center;
      padding-top: 10px;
      background: #810000;
      color: white;
      font-family: Georgia;
      font-size: 17px;
      width: 43px;
      height: 42px;
      border-radius: 50%;
      border: 1px solid #ffffff;
    }
  }
}
.body-main {
  height: calc(100% - 88px);
  top: 58px;
  left: 0px;
  position: fixed;
  background: white;
}
.footer-main {
  color: white;
  background: $red;
  font-size: nth($font-sizes, 1);
  text-align: left;
  width: 100%;
  height: 30px;
  padding: 9px 10px 8px 20px;
  font-family: $roboto;
  bottom: 0px;
  left: 0px;
  position: fixed;
}
.header-main,
.body-main,
.footer-main {
  width: 100%;
}
#account-menu {
  right: 0px;
  top: 80px;
}
#change-languages-body,
#account-menu-body {
  border-radius: 6px;
  box-shadow: 0px 19px 38px #0000007f;
  border: 1px solid #95989a;
}

#account-menu-body {
  width: 320px;
  .logo-line {
    padding-top: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .deafult-name {
    text-align: center;
    padding-top: 25px;
    background: #810000;
    color: white;
    font-family: Georgia;
    font-size: 48px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ffffff;
  }
  .menu-line {
    padding-left: 30px;
    .menu-rows {
      cursor: pointer;
      padding-top: 15px;
      color: $dark_red;
      font-size: nth($font-sizes, 3);
    }
  }
  .account {
    padding: 20px 38px 5px 38px;
    .account-name,
    .position-name {
      text-align: center;
    }
    .account-name {
      color: #414141;
      font-size: nth($font-sizes, 5);
    }
    .position-name {
      padding-top: 5px;
      color: #727272;
      font-size: nth($font-sizes, 3);
    }
  }
  .account-chip {
    font-size: nth($font-sizes, 3);
    color: $dark_red;
    background: white;
    border: 1px solid $dark_red;
    justify-content: center;
  }
  .line-page {
    height: 1px;
    width: 100%;
    background: #a8a8a8;
    opacity: 0.5;
  }
  .account-button {
    border-radius: 5px;
    padding: 20px 35px 20px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: nth($font-sizes, 3);
    button {
      height: 30px;
    }
    .ok-btn {
      background: #ffffff;
      color: $dark_red;
      border: 1px solid $dark_red;
    }
    .cancel-btn {
      color: white;
      background: $dark_red;
      border: 1px solid $dark_red;
    }
  }
}
.input-with-icon {
  width: 222px;
  position: relative;
  border: 0.5px solid #707070a6;
  border-radius: 4px;
  &.active {
    border: 0.5px solid $red;
  }
}
#change-languages-body {
  padding: 0px;
  overflow: hidden;
  // padding-right: 10px;
  .first {
    display: flex;
    border-bottom: 1px solid #a8a8a8;
    padding-right: 8px;
    .text {
      color: #414141;
      font-size: nth($font-sizes, 3);
      width: 150px;
      padding: 3px 8px 6px 8px;
      cursor: pointer;
    }
  }
  .second {
    display: flex;
    padding-right: 5px;
    .text {
      color: #414141;
      font-size: nth($font-sizes, 3);
      cursor: pointer;
      padding: 3px 8px 6px 8px;
    }
  }
}

//--Gobal----
.line-page {
  height: 1px;
  width: 100%;
  background: #a8a8a8;
  opacity: 0.5;
}
.no-data {
  height: 200px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  color: #79797980;
  font-size: nth($font-sizes, 2);
}

.v-dialog {
  .v-card {
    // background: pink;
    padding: 20px 50px 20px 50px;
    .line-page {
      height: 1px;
      width: 100%;
      background: #a8a8a8;
      opacity: 0.5;
    }
    .no-data {
      width: 100%;
      text-align: center;
      padding-top: 15px;
      color: #79797980;
      font-size: nth($font-sizes, 2);
    }
    .center-vh {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .error-input {
      font-size: nth($font-sizes, 3);
      color: #ed2024;
    }
    .head-menu3 {
      color: #414141;
      font-size: nth($font-sizes, 3);
    }
    .head-menu4 {
      color: #414141;
      font-size: nth($font-sizes, 4);
    }
    .head-menu5 {
      color: #797979;
      font-size: nth($font-sizes, 5);
    }
    .head-menu6 {
      color: #797979;
      font-size: nth($font-sizes, 6);
    }
    .head-menu7 {
      color: #797979;
      font-size: nth($font-sizes, 7);
    }
    .rows-form {
      color: #414141;
      font-size: nth($font-sizes, 3);
      display: flex;
      .rows-title {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .input-with-icon {
      box-shadow: 0px 0px 3px #00000080;
      border-radius: 4px;
      border: hidden;
      height: 30px;
      width: 330px;

      input {
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        &:hover,
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #11111169;
          font-size: nth($font-sizes, 3);
        }
      }
      &.search-form {
        display: flex;
        width: 300px;
        .v-icon {
          color: #000000;
          opacity: 0.5;
          padding-left: 5px;
        }
      }

      &.active {
        border: 0.5px solid $red;
        box-shadow: none;
      }
    }
    .right-action {
      display: flex;
    }
    button {
      height: 30px;
      &.cancel-btn,
      &.ok-btn,
      &.cancel-btn-disabled {
        width: 106px;
        font-size: nth($font-sizes, 3);
      }
      &.cancel-btn {
        color: white;
        background: $dark_red;
        border: 1px solid $dark_red;
        border-radius: 5px;
        height: 30px;
      }
      &.cancel-btn-disabled {
        color: white;
        background: #ce121280;
        height: 30px;
        border-radius: 5px;
      }
      &.ok-btn {
        height: 30px;
        background: #ffffff;
        color: $dark_red;
        border: 1px solid $dark_red;
      }
    }
    &.confirm-dialog {
      padding: 20px 20px 10px 30px;
      .v-card__title {
        color: #727272;
        font-size: nth($font-sizes, 4);
        font-weight: 500;
        padding: 0px;
      }
      .sub_title {
        padding-top: 20px;
        color: #797979;
      }
      .v-card__actions {
        padding-right: 0px;
      }
      .cancel,
      .save {
        margin-top: 36px;
        font-size: nth($font-sizes, 3);
      }
      .cancel {
        span {
          color: #a8a8a8;
        }
      }
      .save {
        span {
          color: #ce1212;
        }
      }
    }
    .table {
      margin-top: 10px;
      .head-table {
        width: 100%;
        display: flex;
        background: #d1d1d133;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        .head {
          display: flex;
          cursor: pointer;
          font-weight: 500;
          color: #797979;
          font-size: nth($font-sizes, 2);
          .column-name {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            // padding-top: 3px;
          }
        }
      }
      .body-table {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 250px;
        .body-row {
          width: 100%;
          display: flex;
          padding-top: 3px;
          padding-bottom: 8px;
          .body {
            color: #797979;
            font-size: nth($font-sizes, 2);
          }

          .input-with-icon {
            &.disabled-input {
              color: #414141;
              background: #d1d1d1;
              box-shadow: 0px 0px 3px #00000080;
              border-radius: 4px;
            }
            &.able-input {
              color: #ed202499;
              background: #ed202419;
              box-shadow: 0px 0px 3px #00000080;
              border: 1px solid $dark_red;
            }
          }
          .cancel-btn {
            font-size: nth($font-sizes, 1);
            padding: 10px 10px 10px 10px;
            width: 30px;
          }
        }
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar:horizontal {
          height: 8px;
        }
        &::-webkit-scrollbar-track {
          background: #efefef;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 8px;
          background: #a8a8a8;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: rgb(145, 145, 145);
        }
      }
    }
    .v-input--selection-controls {
      padding: 0px;
      margin: 0px;
    }
    .theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
      background: #ce1212 !important;
    }
    .theme--light.v-btn.v-btn--disabled {
      color: white !important;
    }
  }
}
#pwd-dialogs {
  padding: 90px 60px 70px 60px !important;
  .details {
    color: #767676;
    font-size: nth($font-sizes, 3);
  }
  .v-btn {
    width: 200px;
  }
}
#change-pic-dialogs {
  padding: 25px;
  .profile-desc {
    width: 100%;
    color: #797979;
    font-size: nth($font-sizes, 7);
    font-weight: map-get($font-weight, "regular");
    margin-top: 30px;
    text-align: center;
  }
  .deafult-name {
    text-align: center;
    padding-top: 105px;
    background: #810000;
    color: white;
    font-family: Georgia;
    font-size: 48px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 1px solid #ffffff;
  }
  .v-card__actions {
    display: flex;
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .v-btn {
    width: 200px;
  }
}
#detail-dashboard-dialogs {
  overflow: hidden;
  .sys-name {
    color: $dark_red;
    font-size: nth($font-sizes, 7);
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .img-detail {
    // padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .details {
    color: #767676;
    font-size: nth($font-sizes, 3);
    // overflow-x: hidden;
    // overflow-y: auto;
    max-height: 126px;
    padding-left: 20px;
    padding-right: 10px;
    textarea {
      overflow-x: hidden;
      overflow-y: auto;
      color: #767676;
      resize: none;
      width: 100%;
      height: 150px;
    }
    textarea:focus-visible {
      border: 0 none #fff;
      outline: none;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar:horizontal {
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #e3e3e3;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(145, 145, 145);
    }
  }
}
.upload-block,
.upload-block-csv {
  .img-preview {
    width: 240px;
    // height: 180px;
    margin-top: 18px;
  }
  #fileInput {
    display: none;
  }
}
.loading-bar {
  z-index: 100000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-bar {
  background: rgba($color: #000000, $alpha: 0.25);
}
#profile-dialogs {
  overflow-x: hidden;
  overflow-y: auto;
  .scroll-auto {
    // height: calc(100vh - 150px);
    // height: 390px;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar:horizontal {
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      background: #efefef;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: #a8a8a8;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(145, 145, 145);
    }
  }
  .rows {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    .rows-name {
      display: flex;
      align-items: center;
      color: #797979;
      font-size: nth($font-sizes, 2);
    }
    .rows-input {
      .input-with-icon {
        border: none;
        input[type="text"],
        [type="password"] {
          width: 100%;
          padding-left: 8px;
        }
        .v-text-field {
          padding: 0px;
          margin: 0px;
          height: 25px;
          .v-input__append-inner {
            margin-top: 0px;
          }
        }
        .v-select__selections {
          height: 25px;
        }
        .v-select__selection--comma {
          padding-left: 8px;
          font-size: nth($font-sizes, 2);
        }
        .v-text-field > .v-input__control > .v-input__slot:before {
          width: 0%;
        }
        .v-text-field > .v-input__control > .v-input__slot:after {
          width: 0%;
        }
      }
    }
  }
}
.v-dialog {
  overflow-y: hidden !important;
}

/* iPads (landscape) ----------- */
@media only screen and (max-device-width: 480px) and (orientation: landscape) {
  /* Styles */
  #pwd-dialogs {
    height: calc(100vh - 100px);
    overflow-y: scroll;
    .pwd-dialogs-actions {
      justify-content: center;
      align-items: center;
      display: flex;
      padding-top: 80px;
      #pwd-dialogs-actions-btn-1 {
        margin-right: 10%;
      }
      // display: contents;
    }
  }
  #account-menu-body {
    height: calc(100vh - 110px);
    overflow-y: scroll;
  }
  #profile-dialogs {
    overflow-y: scroll;
    height: calc(100vh - 150px);
    .profile-dialogs-actions {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-top: 30px;
      margin-bottom: 20px;
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
  #set-app-dialogs {
    overflow-y: auto;
    height: calc(100vh - 150px);
    .set-app-dialog-actions {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-top: 50px;
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
  #detail-dashboard-dialogs {
    overflow-y: scroll;
    height: calc(100vh - 150px);
    .detail-dashboard-dialogs-actions {
      margin-top: 20px;
      text-align: center;
      display: block;
      // margin-top: 50px;
    }
  }
  #change-pic-dialogs {
    .change-pic-dialogs-actions {
      margin-top: 70px;
      margin-bottom: 30px;
      display: block;
      text-align: center;
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 900px) and (orientation: landscape) {
  /* Styles */
  #pwd-dialogs {
    height: calc(100vh - 100px);
    overflow-y: scroll;
    .pwd-dialogs-actions {
      justify-content: center;
      align-items: center;
      display: flex;
      padding-top: 80px;
      #pwd-dialogs-actions-btn-1 {
        margin-right: 10%;
      }
    }
  }
  #account-menu-body {
    height: calc(100vh - 110px);
    overflow-y: scroll;
  }
  #profile-dialogs {
    overflow-y: scroll;
    height: calc(100vh - 150px);
    .profile-dialogs-actions {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-top: 30px;
      margin-bottom: 20px;
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
  #set-app-dialogs {
    overflow-y: scroll;
    height: calc(100vh - 150px);
    .set-app-dialog-actions {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-top: 50px;
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
  #detail-dashboard-dialogs {
    overflow-y: auto;
    height: calc(100vh - 150px);
    .detail-dashboard-dialogs-actions {
      text-align: center;
      display: block;
      // margin-top: 50px;
    }
  }
  #change-pic-dialogs {
    .change-pic-dialogs-actions {
      margin-top: 70px;
      margin-bottom: 30px;
      display: block;
      text-align: center;
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
}
@media only screen and (min-device-width: 901px) and (orientation: landscape) {
  /* Styles */
  #pwd-dialogs {
    .pwd-dialogs-actions {
      justify-content: center;
      align-items: center;
      display: flex;
      padding-top: 80px;
      #pwd-dialogs-actions-btn-1 {
        margin-right: 10%;
      }
    }
  }
  #profile-dialogs {
    .profile-dialogs-actions {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-top: 50px;
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
  #set-app-dialogs {
    // overflow-y: scroll;
    // height: calc(100vh - 150px);
    .set-app-dialog-actions {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-top: 50px;
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
  #detail-dashboard-dialogs {
    // overflow-y: auto;
    // height: calc(100vh - 150px);
    overflow-y: auto;
    height: 100%;
    .detail-dashboard-dialogs-actions {
      justify-content: center;
      align-items: center;
      display: flex;
      // margin-top: 50px;
    }
  }
  #change-pic-dialogs {
    .change-pic-dialogs-actions {
      margin-top: 70px;
      margin-bottom: 30px;
      display: block;
      text-align: center;
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
}

/* iPads (portrait) ----------- */
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  /* Styles */
  #pwd-dialogs {
    height: 100%;
    .pwd-dialogs-actions {
      text-align: center;
      padding-top: 80px;
      .ok-btn {
        margin-right: 0%;
      }
      .cancel-btn {
        margin-top: 10px;
      }
    }
  }
  #profile-dialogs {
    padding: 20px 10px 20px 20px;
    overflow-y: scroll;
    height: calc(100vh - 150px);

    .profile-dialogs-actions {
      // justify-content: center;
      // align-items: center;
      // display: flex;
      display: block;
      text-align: center;
      .cancel-btn {
        margin-top: 10px;
      }
    }
  }
  #set-app-dialogs {
    overflow-y: scroll;
    height: calc(100vh - 150px);
    .set-app-dialog-actions {
      display: block;
      text-align: center;
      margin-top: 30px;
      .cancel-btn {
        margin-top: 10px;
      }
    }
  }
  #change-pic-dialogs {
    .change-pic-dialogs-actions {
      margin-top: 70px;
      margin-bottom: 30px;
      display: block;
      text-align: center;
      .cancel-btn {
        margin-top: 10px;
      }
      // .ok-btn {
      //   margin-right: 5%;
      // }
    }
  }
  #detail-dashboard-dialogs {
    overflow-y: auto;
    height: 100%;
    .detail-dashboard-dialogs-actions {
    }
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 900px) and (orientation: portrait) {
  /* Styles */
  #pwd-dialogs {
    // height: calc(100vh - 100px);
    // overflow-y: scroll;
    .pwd-dialogs-actions {
      padding-top: 80px;
      justify-content: center;
      align-items: center;
      display: flex;
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
  #profile-dialogs {
    padding: 20px 20px 20px 20px;
    // height: 100%;
    // overflow-y: auto;
    // overflow-y: scroll;
    // height: calc(100vh - 150px);
    .profile-dialogs-actions {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-top: 30px;
      margin-bottom: 20px;
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
  #set-app-dialogs {
    .set-app-dialog-actions {
      display: block;
      text-align: center;
      margin-top: 30px;
      .cancel-btn {
        // margin-top: 10px;
      }
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
  #change-pic-dialogs {
    .change-pic-dialogs-actions {
      margin-top: 70px;
      margin-bottom: 30px;
      display: block;
      text-align: center;
      // .cancel-btn {
      //   margin-top: 10px;
      // }
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
  #detail-dashboard-dialogs {
    overflow-y: auto;
    height: 100%;
    .detail-dashboard-dialogs-actions {
      // padding-top: 50px;
    }
  }
}
@media only screen and (min-device-width: 901px) and (orientation: portrait) {
  /* Styles */
  #pwd-dialogs {
    // height: 100%;
    .pwd-dialogs-actions {
      padding-top: 80px;
      justify-content: center;
      align-items: center;
      display: flex;
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
  #set-app-dialogs {
    overflow-y: auto;
    // .set-app-dialog-actions {
    //   display: block;
    //   text-align: center;
    //   margin-top: 30px;
    //   .cancel-btn {
    //     margin-top: 10px;
    //   }
    // }
    .set-app-dialog-actions {
      display: block;
      text-align: center;
      margin-top: 30px;
      .cancel-btn {
        // margin-top: 10px;
      }
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
  #change-pic-dialogs {
    .change-pic-dialogs-actions {
      margin-top: 70px;
      margin-bottom: 30px;
      display: block;
      text-align: center;
      // .cancel-btn {
      //   margin-top: 10px;
      // }
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
  #detail-dashboard-dialogs {
    overflow-y: auto;
    height: 100%;
    .detail-dashboard-dialogs-actions {
    }
  }
  #profile-dialogs {
    // height: fit-content;
    .profile-dialogs-actions {
      display: block;
      text-align: center;
      margin-top: 30px;
      .ok-btn {
        margin-right: 5%;
      }
    }
  }
}
