// @import Vue from 'vue';

$turbo: #ffd120;
$heather: #9fbbc7;
$emerald: #4fdd63;
$tarawera: #1e3a47;
$blumine: #35667c;
$jelly_bean: #3f7790;
$summer_sky: #41c5ff;
// $red: #FF0404;
$sunset_orange: #fa4d4d;
$java: #2f9a9f;
$silver_tree: #57b684;
$keppel: #63c19c;
$summer_sky2: #34b9ff;
$maya_blue: #75c1e9;
$zima_blue: #4bbee3;
$pattens_blue: #d6edf9;
$black: #000000;
$zambezi: #5d5d5d;
$dim_grey: #707070;
$nobel: #9a9a9a;
$dark_grey: #a7a7a7;
$silver: #bbbbbb;
$silver2: #c6c6c6;
$light_grey: #d5d5d5;
$white_smoke: #f4f4f4;
$white_smoke2: #f5f5f5;
$snow: #fcfcfc;
$red: #ed2024;
$dark_red: #ce1212;
$roboto: Roboto;
$kanit: Kanit;
$lato: Lato;
$font-weight: (
  "light": 300,
  "regular": 400,
  "bold": 700,
);
$font-sizes: (10px, 13px, 14px, 16px, 18px, 20px, 24px, 26px);

// $lang: vue.$i18n[locale];
$lang: "th";
// $lang: Vue.config.lang;

// @function function_name() {
//   @return Vue.config[lang];
// }

$mainFont: "";
// $mainFont: "Kanit";
// @if $lang == "en" {
//   $mainFont: "Roboto";
// }
