$turbo: #FFD120;
$heather: #9FBBC7;
$emerald: #4FDD63;
$tarawera: #1E3A47;
$blumine: #35667C;
$jelly_bean: #3F7790;
$summer_sky: #41C5FF;
$red: #FF0404;
$sunset_orange: #FA4D4D;
$java: #2F9A9F;
$silver_tree: #57B684;
$keppel: #63C19C;
$summer_sky2: #34B9FF;
$maya_blue: #75C1E9;
$zima_blue: #4BBEE3;
$pattens_blue: #D6EDF9;
$black: #000000;
$zambezi: #5D5D5D;
$dim_grey: #707070;
$nobel: #9A9A9A;
$dark_grey: #A7A7A7;
$silver: #BBBBBB;
$silver2: #C6C6C6;
$light_grey: #D5D5D5;
$white_smoke: #F4F4F4;
$white_smoke2: #F5F5F5;
$snow: #FCFCFC;
